.cover__link {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-image: url(../../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-decoration: none;
  box-sizing: border-box;
  z-index: 0;
  position: relative;
  padding-top: 245px;
  padding-bottom: 245px;
}

.cover__link::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
  z-index: -1;
  transition: opacity 0.3 ease;
}

.cover__link:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1200px) {
  .cover__link {
    padding-top: 195px;
    padding-bottom: 195px;
  }
}

@media screen and (max-width: 800px) {
  .cover__link {
    padding-top: 115px;
    padding-bottom: 115px;
  }
}

@media screen and (max-width: 400px) {
  .cover__link {
    padding-top: 33px;
    padding-bottom: 33px;
  }
}