.cover__subtitle {
  color: #fff;
  font-family: "Inter-regular";
  margin-top: 32px;
  font-size: 18px;
  line-height: 22px;
  white-space: pre-line;
}

@media screen and (max-width: 400px) {
  .cover__subtitle {
    margin-top: 16px;
    font-size: 16px;
    line-height: 16px;
  }
}
