.place__text {
    margin-top: 0;
    margin-bottom: 26px;
}

.place__text:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 800px) {
    .place__text {
        margin-bottom: 25px;
    }
}