.content__places {
  padding: 12px 148px 0;
}

@media screen and (max-width: 1200px) {
  .content__places {
    padding: 12px 48px 0;
  }
}

@media screen and (max-width: 800px) {
  .content__places {
    padding: 15px 24px 0;
  }
}

@media screen and (max-width: 400px) {
  .content__places {
    padding: 14px 0 0;
  }
}