.lead__subtitle {
  color: #fff;
  text-align: center;
  font-family: "Inter-regular";
  font-size: 30px;
  line-height: 36px;
  white-space: pre-line;
}

@media screen and (max-width: 400px) {
  .lead__subtitle {
    font-size: 16px;
  line-height: 20px;
  }
}
