.cover__title {
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 72px;
  line-height: 76px;
  max-width: 560px;
}

@media screen and (max-width: 400px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }
}