.page__footer {
  padding: 0 48px 24px 48px;
}

@media screen and (max-width: 800px) {
  .page__footer {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 400px) {
  .page__footer {
    padding-left: 16px;
    padding-bottom: 16px;
  }
}